#pane{
    -fx-background-color: #207cf1;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#gullu{
     -fx-background-image: url("poke.png");
     -fx-background-repeat: stretch;
     -fx-background-size: 622  417;
     -fx-background-position: center center;
     -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
 }
 #gullu1{
     -fx-background-color: #f7c042;
     -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
 }
#userBench, #pane7, #AIBench, #AIHand, #userBench, #userHand{
     -fx-border-color: #2e5b10;
         -fx-border-width: 2px;
}
#userActivePokemon, #aiActivePokemon{
	     -fx-border-color: #2e3b57;
         -fx-border-width: 1px;
}
.pokemonCard, .card{
	-fx-pref-width: 3cm;
	-fx-background-color: #fff;
	-fx-border-color: #000;
	-fx-border-width: 1px;
}

